<div class="container-fluid  fullscreen">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="maindiv">
                <div class="inndercard">
                    <img src="assets/Images/Logo_digiOffice_Colored.png" style="width: 40%;margin-bottom: 5%;">
                    <div class="input-group ">

                        <select class="inputclass" (change)="getCompanyDetails($event)">
                            <option selected>Select Company</option>
                            <option value="1001">Asticom Main</option>
                            <option value="1002">Asticom ABSI (ABSI)</option>
                            <option value="1005">Asticom FINSI</option>
                            <option value="1003">Asticom BRAD</option>
                            <option value="1004">Asticom HCX</option>
                        </select>

                    </div>

                    <div class="input-group ">

                        <select class="inputclass" (change)="getroleid($event)" style="padding-left: 20px;">
                            <option selected>Select</option>
                            <option value="1">Admin</option>
                            <option value="2">Manager</option>
                            <option value="6">Employee</option>
                            <option value="9">HR</option>
                            <!-- <option value="8">Finance</option>
                            <option value="10">Librarian</option>
                            <option value="11">IT Team</option> -->
                        </select>

                    </div>

                    <div class="input-group ">

                        <input type="text" class="inputclass" [(ngModel)]="username" name="username">
                        <span class="highlight"></span>

                        <span class="bar"></span>

                        <label class="placeholder">Username</label>

                    </div>
                    <div class="input-group ">

                        <input *ngIf="showpassword==0" type="password" class="inputclass" [(ngModel)]="password"
                            name="password" />
                        <input *ngIf="showpassword==1" type="text" class="inputclass" [(ngModel)]="password"
                            name="password" />
                        <span class="fa fa-fw fa-eye field-icon toggle-password" style="color: #3247D5;
                        margin-left: -224px;
                        margin-top: 18px;" (click)="Showhidepassword()"></span>

                        <span class="highlight"></span>

                        <span class="bar"></span>

                        <label class="placeholder">Password</label>

                    </div>

                    <div class="btnalign">
                        <a style=" color: #3247D5;" data-toggle="modal" data-target="#changepassword"> Forgot
                            Password</a>
                        <button type="button" class="loginbtn" (click)="login()">Login</button>
                    </div>

                </div>
                <div class="imgdiv">
                    <img src="assets/Images/Mask Group.png">
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div id="changepassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="margin-top: 100px;">
            <div class="modal-header">
                <h4><b>Forgot Password</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                
                    <div class="col-lg-4 ">
                        <p style="padding:3px"> Subsidary
                            <span class="starspan">*</span>
                        </p>


                    </div>
                    <div class="col-lg-8 ">
                          <select class="form-control" (change)="getCompanyDetails($event)">
                            <option selected>Select Company</option>
                            <option value="1001">Asticom Main</option>
                            <option value="1002">Asticom ABSI (ABSI)</option>
                            <option value="1005">Asticom FINSI</option>
                            <option value="1003">Asticom BRAD</option>
                            <option value="1004">Asticom HCX</option>
                        </select>
                    </div>

                </div>

                <div class="row">
                  
                    <div class="col-lg-4 ">
                        <p style="padding:3px">Enter Email
                            <span class="starspan">*</span>
                        </p>
                    </div>
                    <div class="col-lg-8 ">
                        <input type="text" [(ngModel)]="email" class="form-control" name="email" id="email"
                            (change)="getpassword()" required placeholder="Enter Email" class="form-control">
                    </div>
                </div>
                <!-- <p *ngIf="showotp==1"> 6-digit verification code was just sent to your email. Please verify </p>
                <div *ngIf="showotp==1" class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3 ">
                        <p style="padding:5px">Enter OTP
                            <span class="starspan">*</span>

                        </p>
                    </div>
                    <div class="col-lg-8 ">
                        <input type="text" [(ngModel)]="Otp" maxlength="6" onkeypress="return /[0-9]/i.test(event.key)"
                            class="form-control" name="Otp" id="Otp" required placeholder="Enter OTP"
                            class="form-control">
                        
                    </div>
                </div>
                <div *ngIf="showotp==2" class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3 ">
                        <p style="padding:5px">New Password
                            <span class="starspan">*</span>
                        </p>
                    </div>
                    <div class="col-lg-8 ">
                        <input type="text" [(ngModel)]="newpassword" class="form-control" name="newpassword"
                            id="newpassword" required placeholder="New Password" class="form-control">
                    </div>
                </div>
                <div *ngIf="showotp==0" class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-2">
                        <button style="width: auto;" [disabled]="email === ''" class="btn btn-success form-control"
                            type="button" (click)="SendOTP()">Submit</button>
                    </div>
                </div>
                <div *ngIf="showotp==1" class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-2">
                        <button style="width: auto;" class="btn btn-success form-control" type="button"
                            (click)="VerifyOTP()">Verify</button>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-2">
                        <button style="width: auto;" [disabled]="email==undefined ||email==''"
                            class="btn btn-success form-control" data-dismiss="modal" type="button"
                            (click)="Save()">Send</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<app-loader *ngIf="loader"></app-loader>
<br />
<br />
<br />
<br />
<br />
<br />